# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/KatitoNeni/v16/Browse.VC.db-shm
.vs/KatitoNeni/v16/Browse.VC.db-wal
*.opendb
.vs/KatitoNeni/v16/.suo
.vs/KatitoNeni/v16/ipch/AutoPCH/1ed012a1af6720cf/PAGESLIST.ipch
*.ipch
*.tlog
*.stash
*.props
*.idx
*.cbt
debug/
*.ZIP
KATITONENI_INSTALL/SCANNEDPAGES/.DS_Store
KATITONENI_INSTALL/translations/
release/
